

.App {
  height: 100vh;
  width: 100vw;
  padding: 1vw;
}

.editor {
  width: 70vw;
  height: 100%;
  border-radius: 25px;
}

.bot {
  width: 26vw;
  height: 100%;
  border-radius: 25px;
}

textarea {
  width: 100%;
  height: 100px;
  border: none;
}

textarea:focus {
  outline: 0;
}

.CodeEditorArea {
  height: 70vh !important;
  width: 90%;
}

.ConsoleArea {
  border-top: 5px solid grey;
  height: 26.2vh !important;
}

.CodeEditorArea textarea, .CodeEditorArea > * {
  border-top-left-radius: 25x !important;
  border-top-right-radius: 25px !important;
}

.ConsoleArea textarea, .ConsoleArea > * {
  /* border-bottom-left-radius: 25x !important;
  border-bottom-right-radius: 25px !important; */
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.CodeMirror {
  height: 100% !important;
  font-family: 'Menlo Regular' !important;
}

hr {
  height: 5px;
  color: black;
}

.runbtn {
  border: none;
  outline: none;
  background-color: transparent;
  margin-top: 20px;
  float: right;
  margin-left: 50px;
}

.runbtn > img {
  width: 45px;
  height: 45px;
}

.msgin {
  height: 40px;
  padding-left: 12px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid lightgray;
  outline: none;
}

.messages {
  line-height: 100%;
  text-align: start;
  display: flex;
  flex-direction: column-reverse;
}

.from, .to {
  font-size: 25px;
  line-height: 25px;
  font-weight: 500;
}

.from {
  text-align: start;
}

.to {
  text-align: end;
}